$color-white: #ffffff;
$color-blue: #3da8f0;
$color-dark: #343433;
$color-pink: #ee5579;
// цвет фона
$primary-background: $color-white;
$secondary-background: $color-blue;
$btn-background-hover: $color-pink;
//Цвет рамок
// Цвет текста
$primary-text-color: $color-dark;
$secondary-text-color: $color-blue;
$third-text-color: $color-white;