@{
    ViewData["Title"] = "Home Page";
}

<a class="logo">
    <img src="img/socratic-logo.png" />
</a>
<section class="socratic-section">
  
    <section class="slider">
        <div class="slider-content">
            <p class="header-text">Добро пожаловать</p>
            <b class="slider-title">Создавай презентации по школьной программе вместе с <span>Сократика</span></b>
            <p class="slider-text">Используя искусственный интеллект, ты за считанные секунды получишь идеальную презентацию, которая подойдёт
                для проведения уроков в школе на любую тему
            </p>
            <a asp-controller="Home" asp-action="Start" class="primary-btn">Начать</a>
        </div>
    </section>
  
</section>